body {
    padding-top: 0;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.no-pad{padding:0px;}
.no-pad-left{padding-left:0px;}
.no-pad-right{padding-right:0px;}
b, strong {
    font-weight: 700;
}
a:hover{text-decoration:none;}
.no-margin {
    margin: 0!important;
}

.navbar {
    border-radius: 0;	
}

#all-menu {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 52px;
    border-bottom: 1px solid #b1b1b1;
	display: none;
}
#all-menu .nav  li{ border-bottom:1px solid #fff; padding:0 10px }
#all-menu.open{display: block;}


aside.fixed {
    position: fixed;
}
aside {
    bottom: 0;
    display: block;
    float: left;
    height: 100%;
    left: 0;
    padding-top: 45px;
    position: absolute;
    width: 194px;
    z-index: 100;
}

aside .main-menu > ul {
    margin: 0;
    list-style: none;
	padding:0;
}
aside .main-menu > ul > li {
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,.3);
}

aside .main-menu > ul > li > a {
    position: relative;
    display: block;
    font-size: 13px;
    padding: 13px 10px 13px 13px;
    text-shadow: 0 1px 1px rgba(0,0,0,.05);
}
aside .main-menu > ul > li > a .text {
    margin-left: 10px;
}

header.navbar{
    height: 45px;
    padding-right: 10px;
    white-space: nowrap;
    min-width: 310px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

header.navbar.fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
header .navbar-header {
    float: left;
    min-width: 190px;	
}
header .navbar-brand {
	padding:5px;height: auto;
}
header .navbar-brand > img {
    display: block;
    max-height: 32px;
}

.navbar-toggle .icon-bar{background: #b1b1b1;}
header .navbar-brand.lendfoundry-logo {
    margin: 0 0 0 10px;
}
header.navbar .right-menu {
    list-style: none;
    margin: 0;
    float: right;
    white-space: nowrap;
}
header.navbar .right-menu > ul > li:last-child {
    border-right: none;
}

header.navbar .right-menu > ul > li >a {
    display: block;
    position: relative;
    padding: 13px 15px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}


header.navbar .right-menu > ul > li.open a{background:none;}

header.navbar .right-menu > ul > li > a:focus,header.navbar .right-menu > ul > li >a:hover {
    text-decoration: none;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

header.navbar .right-menu  .dropdown-menu {
    right: 0;
    left: auto;
    top: 95%;
    border-radius: 2px;  
}

#main-container {
    position: relative;
    min-height: 800px;
    padding-top: 50px;
    margin-left: 194px;
}

.main-wrapper {
    position: relative;
    min-height: 800px;
    padding-top: 50px;
	margin:0px auto;
	width:90%;
}
.main-header {
    padding: 20px;	position:relative;
}

.main-header .more-link {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 34px;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
.main-header .more-link > i {
    left: 50%;
    margin-left: -7px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
}
.main-header .page-title span {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 5px;
}
.main-header .page-title span i{margin-right:10px;}
.main-header .page-stats {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-header .page-stats li {
    float: left;
    display: block;
    padding: 0 20px;
}
.main-header .page-stats li:last-child {
    border-right: none;
}
.main-header .page-stats li .value {
    float: left;
    margin-right: 20px;
}
.main-header .page-stats li .value h4 {
    margin: 5px 0;
}

.breadcrumb {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: 0 0;
    padding: 5px 10px;
    margin-bottom: 0;
}


.page-content {
    padding: 30px;
}

.page-content2 {
    padding: 30px;
    margin: 0px auto;
    display: block;
    text-align: center;
}

.panel.panel-default .panel-title a {
	display:block;
}
.activity-icon {
    display: inline-block;
    float: left;
    border: 2px solid rgba(0,0,0,.2);
    border-color: rgba(255,255,255,.5);
    width: 59px;
	text-align:center;
    height: 59px;
    border-radius: 50em;
}
.activity-icon.small [class*=fa-] {
    line-height: 30px;
}
.activity-icon.small {
    width: 35px;
    height: 35px;
}

.panel.panel-default .panel-title a {
    display: block;
}
.panel.todo-panel-group .panel-title a {
    display: block;
}
.todo-panel-group .panel-title  .activity-icon{margin-right:10px;}
.todo-panel-group  .panel .panel-heading a[data-toggle="collapse"]::before {
    display: block;
    float: right;
    text-align: right;
    width: 25px;
}


.todo-panel-group .panel {
    border-radius: 4px;
    margin-bottom: 15px;
}
aside .sidebar-inner .user-block {
    padding: 10px;
}
aside .sidebar-inner .user-block .detail p{margin:5px 0 0 0;}
aside .sidebar-inner .user-block .detail {
    float: left;
    margin: 10px;
}
aside .sidebar-inner .user-block img {
    float: left;
    width: 52px;
    height: 52px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    animation: fadeInRotate .9s ease;
    -webkit-animation: fadeInRotate .9s ease;
    -moz-animation: fadeInRotate .9s ease;
    -ms-animation: fadeInRotate .9s ease;
    -o-animation: fadeInRotate .9s ease;
}
.panel.bg-info {
    border: 0 none;
    box-shadow: 0 0;
}

.list-group.bg-success{background:none;}

.doc-upload-container {
    margin: 0 30px;
    padding: 10px 20px 20px;
	border-radius:5px;
	margin-bottom:10px;
}
.doc-upload-container > h3 {
    margin: 0 0 10px;
    padding: 0;
}
.doc-upload-area {
    border: 1px dashed rgba(0, 0, 0, 0.1);  
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 23px;
	text-align:center;
}
.doc-upload-text > span {
    opacity: 0.6;
    text-align: center;
    vertical-align: middle;
}
.doc-upload-text > span i {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.btn.btn-default {
	border-color:rgba(0, 0, 0, 0.2); 
}
.slimScrollDiv{position: relative;
overflow: hidden;
width: auto;
height: 100%;
}

.form-btn{padding:10px 15px;}
.submit-btn{background:#65cea7 !important; color:#fff; border-color:rgba(0, 0, 0, 0.2);}
.btn:hover{background:#6bafbd !important; color:#fff;}

main {
  min-width: 320px;
  max-width:100%;
  padding: 20px;
  background: #fff;
}

.tab-section {
  display: none;
  padding: 10px 0 0;
  border-top: 1px solid #ddd;
}

.tab-in{
  display: none;
}

.tabbing {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 20px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  width:auto;
  font-size:16px;
}

.tabbing:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabbing[for*='1']:before { content: '\f15c'; }
.tabbing[for*='2']:before { content: '\f05a'; }
.tabbing[for*='3']:before { content: '\f007'; }
.tabbing[for*='4']:before { content: '\f1d8'; }

.tabbing:hover {
  color: #888;
  cursor: pointer;
}

.tab-in:checked + .tabbing {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #65cea7;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.form-group{min-height:78px;}
.tab-section .comman_application_wraper{ width:auto; margin:0px;}
.select_fields {
	display: block;
width: 100%;
height: 34px;
padding: 6px 20px 6px 8px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ccc;
    margin: 0px 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
	border-radius:4px;
    background: url(../images/reting-select.png) no-repeat 97% 12px;
}

.business-details{display:block; margin-top:10px; overflow:hidden;}

.form-group label{display:block;}
.heading-text{display:inline-block;  }
.add-another{float:right;}


footer{background:#e6e6e6; }
footer p {
    padding: 10px 30px;
    text-align: right;
	margin:0;
}


/*Login Page=========*/
.login-box{float:none; margin:0px auto;}
.login-box .form-group{min-height:auto;}
.forgot-pass{float:right; color:#65cea7; text-decoration:underline; font-size:12px;}
.sucess_message {font-size: 25px; float: left; margin-right: 7px;}
.alert-success strong ,.alert-danger strong{
    font-size: 13px;
    line-height: 24px;
}




.fine-points {
    margin: 0px;
    padding: 0px;
}


.fine-points li {
    background: url(../images/right-arrow.png) no-repeat 0px 5px;
        background-size: auto auto;
    list-style: none;
    padding-left: 20px;
    background-size: 12px;
    display: block;
    margin-bottom: 8px;
}

.span_left {
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    min-width: 165px;
    vertical-align: top;
	font-weight:600;
}

.span_right {display: inline-block; font-size: 13px; line-height: 22px;}
.span_right label { margin: 0px; display: block; vertical-align: top;font-weight:normal; font-size:13px;}
.thanks-text{font-size:14px; margin-bottom:20px; margin-top:10px;}
.big_refresh_icon {
    color: #65cea7;
    font-size: 37px !important;
    float: left !important;
    margin-top: 52px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.fin-bottom h3 {
    font-size: 17px;
}

.fin-bottom{border-top: 1px solid #ddd;margin-top: 30px;}
.da-link{ color: #4db08b; text-decoration:underline; font-size:13px;}




/*Link Your Accounts===========================================================================*/ 

.account_wrapper{padding: 20px 30px;margin: 0px auto;display: block;}

.progress-bars .line-d {padding-bottom:44px;border-bottom: 2px solid #1E212B; width: 15%;height: 2px; display: inline-block; margin-left: -4px;margin-right: -6px;}
.progress-bars .circle {padding: 8px 12px; border-radius: 100%; height: 43px; width: 43px; border: 2px solid #65cea7 ; position: relative; top: 1px; color: #b7b6b6;font-size: 17px; display: inline-block;}

.progress-bars span.active{ background-color:#65cea7 !important; color:#fff !important; border:2px solid #888 !important;  }

.images-logo {display: block; margin: 0px; padding: 6px;}
.images-logo li { list-style: none; display: inline-block; padding: 14px 8px;  width: 49%;}

.link-wrap{ margin:30px 0px 40px; padding:20px 10px;  border:1px solid #ccc; overflow:hidden; font-size:13px;}
.ac-head{ text-align:left; margin-bottom:15px;}
.ac-text{ text-align: left; float: left; width: 100%;}
.account_btn { padding: 6px 18px; border: 2px solid #65cea7; border-radius: 4px; background-color: #65cea7; margin-top: 15px;}
.account_btn2 {background-color: #0d5da6  !important;color: #fff;height: auto;border: 2px solid #0d5da6 ;width: 100%;border-radius: 20px;margin-top: 20px; font-size: 17px; padding:6px 20px; }

.ssl-logo {margin-top: 25px;}
.progress-bars { text-align: center;}
.privacy-wrap { border: 1px solid #ccc; display: block; overflow: hidden;  padding: 20px 10px; margin-bottom: 30px;}
.question-wrap { text-align: center;  margin-top: 23px;}
.question-wrap h2 { font-size: 21px; margin-bottom: 10px;}

.termsCondition {
    font-weight: 600;
    vertical-align: sub;
}

.all-done {
    margin-top: 40px;
}

.all-done img {
    display: block;
    text-align: center;
    margin: 10px auto;
}
h4.number-bx {
    display: inline-block;
    margin: 13px 23px 0px;
    font-size: 14px;
    color: #888;
    line-height: 24px;
    float: right;
}

h4.number-bx .fa-mobile{font-size:21px !important; vertical-align:middle;}
h4#currentVisitor span{
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

/**/
.read-only-l {
    font-weight: inherit;
    color: #A9A9A9;
    font-size: 12px;
}

.overview .form-group{min-height:50px;}
.todo-box{display:block; text-align:center; clear:both;}
.todo-box p{font-size:14px;}
.todo-btn{margin-left:5px;background: #65cea7 !important;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.2);
}

.right-menu .responsive-link{display:none;}
.right-menu .img-res {display:none;}
.right-menu-hide .img-res {
    display: none;
}
.sign-btn.btn{
    float: right;
    margin: 8px 0px;
}
.bankLinkingOr{
    margin-left: 34px;
}
.bankLinkingOr ul{
    padding-left: 22px;
}
#collapseTwo button{
    margin-left: 18px;
}
#collapseTwo h5{
    margin-left: 16px;
}
#collapseTwo div.panel-body h4{
    margin-left: 16px;
}
.b-logo { padding: 0px !important; display: inline-block; height: 56px; width: 56px; border-radius: 100%; position:relative; float: left;}
.logo-text {text-align: center; font-weight: bold; vertical-align: middle;line-height: 55px;font-size: 26px;padding-left: 8px;}
.b-logo-header { display: none;}
.dob_section span { display: inline-block;}

.questions {padding-bottom: 20px; border-bottom: 1px solid #ccc;}
.questions h3 {font-size: 16px;  color: #787878;  font-weight: 600;  font-family: helvetica;}
.questions p{font-size: 14px; line-height:1.25em;font-family: helvetica;}
.que-detail a { display: inline-block;  width: 100%; font-size:14px;line-height:1.20em; margin-bottom:6px;}
.que-detail h4{font-size:24px; color:#4db08b;}

.about-all h3{font-size: 16px;  color: #787878;  font-weight: 600;  font-family: helvetica;}
.about-all p{font-size: 14px; line-height:1.25em;font-family: helvetica;}
.about-all {padding-bottom: 20px; border-bottom: 1px solid #ccc; margin-bottom:20px;}
.right-images{margin-bottom:10px; display:block;}

.todo-panel-group  .panel .panel-heading a[data-toggle="collapse"]::before {
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 14px;
}
.todo-panel-group  .panel .panel-heading a.collapsed[data-toggle="collapse"]::before {
  content: "\f077";
}

@media only screen and (max-width: 992px) {
 aside,.page-stats{display:none;}
 #main-container{margin-left:0;}
.doc-upload-area .btn{float: none !important;}
 .doc-upload-text > span{display:block;}
 #all-menu.open{display: block;}
}



@media only screen and (max-width:767px){

.page-content{padding:20px 15px;}
main{min-width:auto;}
.add-another{float:none;}
.doc-upload-container{margin:0px;}
.navbar-toggle{margin-bottom:0px;}
#main-container{margin-left:0px;}

/*Menu*/
.right-menu .img-res { display: inline-block; width: 45px; height: 45px;  border-radius: 80px; box-shadow: 0px 0px 0px 2px #999;  margin-right: 16px;}
aside.fixed{display:none;}
.right-menu{display:block; width:99%;}
.right-menu-hide{display:none;}
.right-menu .responsive-link{display:block;}
header.navbar .right-menu > ul > li.open {background: #fff !important; box-shadow:0px 0px 5px 2px #bbb;}
header.navbar .right-menu .dropdown-menu li { border-bottom: 1px solid #ccc; padding: 5px;}
.navbar-nav{margin-top:4.5px;}
header.navbar .right-menu > ul > li > a{color:#999;padding: 10px 15px;}
.number-bx{display:none !important;}
.b-logo-header { padding: 0px !important; display: inline-block; height: 50px; width: 50px; background:#6bafbd; border-radius: 100%; border: 2px solid #6bafbd; position:relative; box-shadow:inset 0px 0px 0px 2px #fff; float: left; margin-right: 5px;}
.logo-text {line-height: 48px;font-size: 22px;}
.navbar-nav>li>a{line-height: 46px;}
}

@media screen and (max-width: 650px) {
  .dropdown-menu {
    padding: 0px 0;
  }
  .tabbing {
    font-size: 0;
  }
  .tabbing:before {
    margin: 0;
    font-size: 18px;
  }
  
 .sign-btn.btn {
    font-size: 11px;
    margin: 11px 0px;
}
 
}

@media screen and (max-width: 400px) {
  .tabbing {
    padding: 15px;
  }
  
  .da-link{margin-left:44px;}
}
 